.max-width-1.mx-auto.my4
  md-card
    md-toolbar
      .md-toolbar-tools
        h3 Sign Up
    md-subheader.md-primary Create a new account
    form.px3(name='vm.userForm', 
    ng-submit='vm.signup(vm.userForm.$valid)', 
    novalidate='', 
    autocomplete='off')
      md-input-container.md-block(md-no-float='')
        label(for='firstName') First Name
        input.form-control(type='text', 
        name='firstName', 
        ng-model='vm.credentials.firstName', 
        placeholder='First Name', 
        required='')
        div(ng-messages='vm.userForm.firstName.$error', 
        role='alert')
          p.help-block.error-text(ng-message='required') First name is required.
      md-input-container.md-block(md-no-float='')
        label(for='lastName') Last Name
        input.form-control(type='text', 
        name='lastName', 
        ng-model='vm.credentials.lastName', 
        placeholder='Last Name', 
        required='')
        div(ng-messages='vm.userForm.lastName.$error', 
        role='alert')
          p.help-block.error-text(ng-message='required') Last name is required.
      md-input-container.md-block(md-no-float='')
        label(for='email') Email
        input.form-control(type='email', 
        name='email', 
        ng-model='vm.credentials.email', 
        placeholder='Email', 
        lowercase='', 
        required='')
        div(ng-messages='vm.userForm.email.$error', role='alert')
          p.help-block.error-text(ng-message='required') Email address is required.
          p.help-block.error-text(ng-message='email') Email address is invalid.
      md-input-container.md-block(md-no-float='')
        label(for='username') Username
        input.form-control(type='text', 
        name='username', 
        ng-model='vm.credentials.username', 
        placeholder='Username', 
        lowercase='', 
        required='')
        div(ng-messages='vm.userForm.username.$error', role='alert')
          p.help-block.error-text(ng-message='required') Username is required.
      md-input-container.md-block(md-no-float='')
        label(for='password') Password
        input.form-control(type='password', 
        name='password', 
        ng-model='vm.credentials.password', 
        placeholder='Password', 
        required='')
        div(ng-messages='vm.userForm.password.$error', role='alert')
          p.help-block.error-text(ng-message='required') Password is required.
      md-input-container.md-block.center
        md-button.md-raised(type='submit') Sign up

div.center.my3
  a.center(ui-sref='password.forgot') Forgot your password?
