.max-width-1.mx-auto.my4
  md-card
    md-toolbar
      .md-toolbar-tools
        h3 Sign in
    md-subheader.md-primary &nbsp;
    form.px3(name='vm.userForm', 
    ng-submit='vm.signin(vm.userForm.$valid)', 
    novalidate='', 
    autocomplete='off')
      md-input-container.md-block(md-no-float='')
        label Username
        input(type='text',
        name='username', 
        ng-model='vm.credentials.username', 
        placeholder='Username', 
        lowercase='', 
        required='')
        div(ng-messages='vm.userForm.username.$error', role='alert')
          p(ng-message='required') Username is required.
      md-input-container.md-block(md-no-float='')
        label Password
        input(type='password', 
        name='password', 
        ng-model='vm.credentials.password', 
        placeholder='Password', 
        required='')
        div(ng-messages='vm.userForm.password.$error', role='alert')
          p(ng-message='required') Password is required.
      md-input-container.md-block.center
        md-button.md-raised(type='submit') Sign in
        
  div.center.my3
    a.my3.center(ui-sref='password.forgot') Forgot your password?
