.max-width-1.mx-auto.my4
  md-card
    md-toolbar
      .md-toolbar-tools
        h3 Reset your password
    md-subheader.md-primary Create a new password
    form.px3(name='vm.resetPasswordForm', 
    ng-submit='vm.resetUserPassword(vm.resetPasswordForm.$valid)', 
    novalidate='', 
    autocomplete='off')
      md-input-container.md-block
        input(type='password', 
        name='newPassword', 
        ng-model='vm.passwordDetails.newPassword', 
        placeholder='New Password', 
        autocomplete='new-password', 
        required='')
        div(ng-messages='vm.resetPasswordForm.newPassword.$error', role='alert')
          p(ng-message='required') Enter a new password.
          div(ng-repeat='passwordError in passwordErrors')
            p.help-block.error-text(ng-show='vm.resetPasswordForm.newPassword.$error.requirements') {{passwordError}}
      md-input-container.md-block
        input(type='password', 
        name='verifyPassword', 
        ng-model='vm.passwordDetails.verifyPassword', 
        placeholder='Verify Password', 
        password-verify='vm.passwordDetails.newPassword', 
        required='')
        div(ng-messages='vm.resetPasswordForm.verifyPassword.$error', role='alert')
          p(ng-message='required') Enter the password again to verify.
          p(ng-show='vm.resetPasswordForm.verifyPassword.$error.passwordVerify') Passwords do not match.
      md-input-container.md-block.center
        md-button.md-raised(type='submit') Update Password
