.flex
  .max-width-2.width-100.relative(style='overflow: hidden')
    
    md-toolbar(md-colors='{background: "blue-grey-500"}')

      md-list
        md-list-item.px1
          p Post a new service update
          md-button.md-raised(ng-click='vm.add()') New Post
        //- md-divider
        //- md-list-item(ng-click='vm.serviceModeActive = !vm.serviceModeActive')
        //-   p Service Mode -
        //-     span.bold(ng-class="{ muted: !vm.serviceModeActive, red: vm.serviceModeActive }")  
        //-       | {{ vm.serviceModeActive ? 'Active' : 'Inactive' }}
        //-   md-switch.md-warn(ng-model='vm.serviceModeActive')

    md-content.height-100
      section
        //- md-subheader subheader
        md-list.p0
          md-list-item(md-colors='{background: "blue-grey-100"}')
          div(ng-repeat='update in vm.updates | orderBy:"date":true')
            md-divider
            md-list-item.md-3-line(ng-click='vm.select(update)')
              md-icon(ng-if='update.link') music_video
              .md-list-item-text.py2
                h3.md-subhead {{ update.date | date: 'MMM dd, yyyy @ HH:mm' }}
                p.muted {{ update.weather.daily.data[0].summary }}
                p(ng-bind-html='update.content')

  .flex-auto.max-width-2.width-100
    md-content.height-100(ng-if='vm.update')
      form.mt3(name='vm.updateForm', novalidate='')
        md-input-container.md-block.mx3(md-no-float='')
          label Publish Date
          md-datepicker(
          name='date',
          ng-model='vm.update.date', 
          aria-label='Publish Date'
          md-placeholder='Publish Date')
        md-input-container.md-block.mx3(md-no-float='')
          label Content
          textarea(name='conent'
          placeholder='Content'
          ng-model='vm.update.content', 
          rows='6', 
          md-select-on-focus='')
        md-input-container.md-block.mx3(md-no-float='')
          label Weather Summary
          input(name='weatherSummary', 
          placeholder='Weather Summary'
          ng-model='vm.update.weather.daily.data[0].summary')
        md-toolbar.md-accent
          .md-toolbar-tools
            md-button.md-raised(
            ng-click='vm.create(vm.update)', 
            ng-if='!vm.update._id') 
              | Post
            md-button.md-raised(
            ng-click='vm.save(vm.update)', 
            ng-if='vm.update._id') 
              | Save
            .flex-auto
            md-button.md-raised.md-icon-button.muted(
            ng-click='vm.remove(vm.update)', 
            ng-if='vm.update._id') 
              md-icon delete
            md-checkbox.md-primary.m0(
            ng-if="!vm.update._id",
            ng-model='vm.notifySubscribers',
            aria-label='Notify Subscribers')
              | Notify Subscribers
