.px2.mt3
  md-autocomplete#places-autocomplete.width-100(
  md-escape-options='blur none'
  md-autofocus='',
  md-no-cache='true', 
  md-selected-item='vm.selectedItem', 
  md-search-text-change='parent.searchPlaces(vm.searchText)', 
  md-search-text='vm.searchText', 
  md-items='item in vm.searchAddress(vm.searchText)', 
  md-item-text='item.description', 
  md-min-length='0', 
  placeholder='Search for address')
    md-item-template
      span(md-highlight-text='vm.searchText', 
      md-highlight-flags='^i') {{item.description}}
    md-not-found
      | No matches found for &quot;{{vm.searchText}}&quot;.

md-content.mt3(style='max-height: calc(100vh - (64px + (48px * 2) + (40px + 35px) + 32px))')
  md-list
    md-list-item.md-2-line(
    ng-repeat='place in parent.displayPlaces', 
    ng-mouseenter='parent.circleEvents.mouseenter(place)'
    ng-mouseleave='parent.circleEvents.mouseleave(place)'
    ng-click='vm.modifyPlace(place)')
      md-icon(ng-if='place.routes.length') location_on
      md-icon(ng-if='!place.routes.length') location_off
      .md-list-item-text
        h3 {{ place.address.split(',')[0] }}
        p {{ place.address.split(',').slice(1).join(',') }}
      md-button.md-icon-button(ng-click='parent.removePlace(place)')
        md-icon close
    md-list-item.md-2-line(
    ng-if='!parent.displayPlaces.length && vm.selectedItem'
    ng-click='vm.modifyPlace()')
      md-icon location_off
      .md-list-item-text
        h3 {{ vm.selectedItem.description.split(',')[0] }}
        p {{ vm.selectedItem.description.split(',').slice(1).join(',') }}
