//- md-toolbar.md-whiteframe-1dp(style="background: #f6f6f6 !important; color: #202020 !important; z-index: 3;")
//-   .md-toolbar-tools.max-width-5.mx-auto
//-     span.muted.md-display-1 Contact Us
//-     span(flex='')
//-     p.muted Drop us a line or give us a call

.width-100.max-width-5.mx-auto.my4
  .row.clearfix
    .sm-col.sm-col-4.px2.mb3
      md-card
        md-toolbar(md-colors="{background: 'blue-grey-500'}")
          .md-toolbar-tools Contact Info
        md-content
          md-list.flex.flex-column
            md-subheader.md-no-sticky Address
            md-list-item.md-2-line
              md-icon.md-avatar-icon location_city
              .md-list-item-text
                h3 3211 Lenworth Drive
                p Mississauga, ON L4X 2G6
                  br
                  | Canada
            md-divider
            md-subheader.md-no-sticky Direct Line
            md-list-item.md-2-line
              md-icon.md-avatar-icon phone
              .md-list-item-text
                h3 (905) 272-9939
                p Phone 
            md-list-item.md-2-line
              md-icon.md-avatar-icon phone
              .md-list-item-text
                h3 (905) 275-5969
                p Fax
            md-divider
            md-subheader.md-no-sticky Email
            md-list-item.md-2-line
              md-icon.md-avatar-icon email
              .md-list-item-text
                a.text-decoration-none.black(href="mailto:sales@clearmysnow.com") sales@clearmysnow.com
                p General Inquiries
            md-list-item.md-2-line
              md-icon.md-avatar-icon email
              .md-list-item-text
                a.text-decoration-none.black(href="mailto:jobs@clearmysnow.com") jobs@clearmysnow.com
                p Job Inquiries
            md-divider
            md-subheader.md-no-sticky Hours of Operation
            md-list-item.md-2-line
              md-icon.md-avatar-icon access_time
              .md-list-item-text
                h3 9 AM - 5 PM
                p Monday - Friday
              .md-list-item-text
                h3 24/7
                p During Storms
            .p1
        
    .sm-col.sm-col-8.px2
      md-card
        md-toolbar(md-colors="{background: 'blue-grey-500'}")
          .md-toolbar-tools Submit a Form
        md-content.p2
          p.mt2
            | We are happy to answer any of your questions and to provide assistance any way we can.
          p
            | You can leave us a message using this form, and we will get back to you as soon as possible.
          form.p2(name='vm.contactForm', 
          ng-submit='vm.submitForm()', 
          style="transition: all 1s ease;"
          ng-class="{'bg-darken-1': vm.submitted}"
          novalidate='')
            div(layout-gt-sm='row')
              md-input-container.md-block(flex-gt-sm)
                label Your Name
                input(required='', 
                ng-disabled='vm.submitted',
                name='clientName', 
                ng-model='vm.contact.clientName')
                div(ng-messages='vm.contactForm.clientName.$error')
                  div(ng-message='required') We need your name.
              span(flex='5')
              md-input-container.md-block(flex-gt-sm)
                label Your Email
                input(required='', 
                ng-disabled='vm.submitted',
                type='email', 
                name='clientEmail', 
                ng-model='vm.contact.clientEmail', 
                minlength='10', 
                maxlength='100', 
                ng-pattern='/^.+@.+\..+$/')
                div(ng-messages='vm.contactForm.clientEmail.$error', 
                role='alert')
                  div(ng-message-exp="['minlength', 'maxlength', 'pattern']")
                    | Your email must look like an e-mail address.
                  div(ng-message-exp="['required']")
                    | We need your email address.
            div(layout-gt-sm='row')
              md-input-container.md-block(flex-gt-sm)
                label Address
                input(name='clientAddress', 
                ng-disabled='vm.submitted',
                ng-model='vm.contact.clientAddress')
              span(flex='5')
              md-input-container.md-block(flex-gt-sm)
                label Phone Number
                input(name='clientPhone', 
                ng-disabled='vm.submitted',
                ng-model='vm.contact.clientPhone')
            div(layout-gt-sm='row')
              md-input-container.md-block(flex-gt-sm)
                label Message
                textarea(required='',
                ng-disabled='vm.submitted',
                name='message'
                ng-model='vm.contact.message', 
                rows='5', 
                md-select-on-focus='')
                div(ng-messages='vm.contactForm.message.$error')
                  div(ng-message='required') You left the message blank.
            div(ng-if='!vm.submitted')
              md-button.md-raised(ng-disabled='vm.contactForm.$invalid' type="submit") Submit
            div(ng-if='vm.submitted').center
              p.bold Your message has been sent. Thank you for getting in touch!
        div(md-colors="{background: 'blue-grey-50'}").p1
          p.center.small.muted We generally follow up within one business day.
