.max-width-3.mx-auto.my4
  div(layout-gt-sm='row').mb3
    div.flex.min-width-50
      md-card.width-100
        md-toolbar.md-accent
          .md-toolbar-tools
            p.md-subhead Current weather conditions
        div.p2.cms-weather-window.flex.flex-column.justify-between.items-center
          p.muted.mt0.large.center {{ vm.currentWeather.daily.data[0].summary }}
          .flex.mx-auto(style="width: 50%")
            skycon(icon="vm.currentWeather.daily.data[0].icon.toUpperCase().replace('-', '_')", size='80')
            div.flex.flex-row.items-center
              div.pl2
                div.flex.flex-column.items-center
                  .md-headline.m0.heavy.blue.mb1 {{ vm.currentWeather.daily.data[0].temperatureMax | number: 0 }}
                  .md-headline.m0.heavy.blue {{ vm.currentWeather.daily.data[0].temperatureMin | number: 0 }}
          p.md-caption.muted.mb0.self-end Weather powered by #[a(href='https://darksky.net/poweredby/', target='_blank') Dark Sky]
    div.flex.flex-auto
      md-card.width-100
        md-toolbar.md-accent
          .md-toolbar-tools
            .md-subhead Subscribe to receive live service updates
        div.p2.flex
          .md-title.self-center.center.muted(ng-if='vm.subscribed') You are now subscribed to receive our service updates!
          form.flex.flex-column.justify-center(ng-if='!vm.subscribed', novalidate='', name='vm.subscribeForm', ng-submit='vm.subscribe()')
            md-input-container.md-block
              label Your Email
              input.md-warn(required='', 
              type='email', 
              name='clientEmail', 
              ng-focus='subscribing = true',
              ng-model='vm.subscriber.clientEmail', 
              minlength='10', 
              maxlength='100', 
              ng-pattern='/^.+@.+\..+$/')
              div(ng-messages='vm.subscribeForm.clientEmail.$error', 
              role='alert')
                div(ng-message-exp="['minlength', 'maxlength', 'pattern']")
                  | Your email must look like an e-mail address.
                div(ng-message-exp="['required']")
                  | We need your email address.
            md-input-container.mt0.md-block(ng-show='subscribing')
              label Your Name
              input.md-warn(required='', 
              type='name', 
              name='clientName', 
              ng-model='vm.subscriber.clientName')
              div(ng-messages='vm.subscribeForm.clientName.$error', role='alert')
                div(ng-message-exp="['required']")
                  | We need to know how to address you.
            div.center
              md-button.md-raised.self-center.px3( type='submit'
              ng-disabled="vm.subscribeForm.$invalid") Subscribe

  div(ng-if="!vm.updates").p4.center
    p.muted Loading...

  md-card.mb3(ng-repeat='update in vm.updates | orderBy:"date":true')
    md-toolbar.md-accent
      .md-toolbar-tools
        p.md-subhead {{ update.date | date: 'MMM dd, yyyy @ HH:mm' }}
    .px2.row
      div.sm-col.sm-col-6.md-col-8.pr2.pt1(ng-class='{"md-col-12": (!update.weather || !update.weather.daily.data[0].icon), "sm-col-12": (!update.weather || !update.weather.daily.data[0].icon)}')
        p(ng-bind-html='update.content')
        .update-media(ng-if='update.link' ng-bind-html='update.link')
      //- Weather
      div.sm-col.sm-col-6.md-col-4.py2.pl2.cms-weather-window(ng-if='update.weather && update.weather.daily.data[0].icon')
        .row
          p.mt0 {{ update.weather.daily.data[0].summary }}
        .row.clearfix
          .col.col-5
            .flex
              skycon(icon="update.weather.daily.data[0].icon.toUpperCase().replace('-', '_')", size='50')
              div.flex.flex-row.items-center
                div.pl2
                  div.flex.flex-column.items-center
                    p.m0.heavy.blue.mb1 {{ update.weather.daily.data[0].temperatureMax | number: 0 }}
                    p.m0.heavy.blue {{ update.weather.daily.data[0].temperatureMin | number: 0 }}
          .col.col-7
            .flex.relative.items-center(ng-if='update.weather.daily.data[0].precipAccumulation')
              svg.fit.relative(
              style='height: 48px; fill: rgb(33,150,243); top: 4px;', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='-137 81.6 50 62.5', xml:space='preserve')
                path(d='M-105.4,130.8c0.9,0,1.6-0.7,1.6-1.6V84c0-0.9-0.7-1.6-1.6-1.6h-14c-0.9,0-1.6,0.7-1.6,1.6v45.2c0,0.9,0.7,1.6,1.6,1.6  H-105.4z M-106.9,85.6v42h-10.8v-3.1h2.6c0.9,0,1.6-0.7,1.6-1.6c0-0.9-0.7-1.6-1.6-1.6h-2.6v-3.2h3.6c0.9,0,1.6-0.7,1.6-1.6  s-0.7-1.6-1.6-1.6h-3.6v-3.2h2.6c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6h-2.6v-3.2h3.6c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6  h-3.6v-3.2h2.6c0.9,0,1.6-0.7,1.6-1.6s-0.7-1.6-1.6-1.6h-2.6v-3.2h3.6c0.9,0,1.6-0.7,1.6-1.6c0-0.9-0.7-1.6-1.6-1.6h-3.6v-4.2  H-106.9z')
              p.m0.heavy.blue {{ update.weather.daily.data[0].precipAccumulation | number: 1 }} cm
    
